<%= provide :title, t(".title") %>
<!DOCTYPE html>
<html>
<body>
  <a class="scrollToTop"><i class="fa fa-angle-up"></i></a>
  <div class="container">
    <div id="navarea">
      <section id="ContactContent">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="contact-area">
              <h1><%= t ".help" %></h1>
              <p><%= t ".info" %></p>
              <div class="contact-bottom">
                <div class="contact-us wow fadeInRightBig">
                  <h2><%= t ".contact_us" %></h2>
                  <h2><%= t ".bookmoi" %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
