<%= provide :title, t(".title") %>
<!DOCTYPE html>
<html>
<head>
<title>magExpress</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <section id="mainContent">
    <div class="content_top">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm6">
          <div class="latest_slider">
            <div class="slick_slider">
              <% Book.order(created_at: :desc).limit(4).each do |newbook| %>
                <div class="single_iteam">
                  <%= link_to (image_tag newbook.picture,
                    height: 500, width: 550), newbook %>
                  <h2><a class="slider_tittle" href="pages/single.html">
                    <%= newbook.name %></a>
                  </h2>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm6">
          <div class="content_top_right">
            <ul class="featured_nav wow fadeInDown">
              <% Book.order(created_at: :desc).limit(4).each do |newbook| %>
                <li class="catgimg_container">
                  <%= link_to (image_tag newbook.picture), newbook %>
                  <div class="title_caption">
                    <a><%= newbook.name %><% link_to newbook %></a>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content_middle">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="content_middle_leftbar">
          <div class="single_category wow fadeInDown">
            <h2><span class="bold_line"><span></span></span>
              <span class="solid_line"></span>
              <a href="#" class="title_text"><%= Category.first.name %></a>
            </h2>
            <ul class="catg1_nav">
              <% Book.all.where(category_id: 1).order(
                created_at: :desc).limit(3).each do |category1| %>
                <li>
                  <div class="catgimg_container">
                    <a href="pages/single.html" class="catg1_img">
                      <%= link_to (image_tag category1.picture), category1 %>
                    </a>
                  </div>
                  <h3 class="post_titile">
                    <center>
                      <%= link_to category1.name, category1 %>
                    </center>
                  </h3>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="content_middle_middle">
          <div class="slick_slider2">
           <% Comment.all.order(created_at: :desc).limit(10).each do |newbookcomment| %>
              <div class="single_featured_slide">
                <a href="pages/single.html">
                  <%= link_to (image_tag newbookcomment.book.picture,
                    width:550, height:480), newbookcomment.book %>
                </a>
                <h2><a href="pages/single.html"><%= newbookcomment.book.name %></a></h2>
                <p><%= newbookcomment.content %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="content_middle_rightbar">
          <div class="single_category wow fadeInDown">
            <h2><span class="bold_line"><span></span></span>
              <span class="solid_line"></span>
              <a href="#" class="title_text"><%= Category.second.name %></a>
            </h2>
            <ul class="catg1_nav">
              <% Book.all.where(category_id: 2).order(
                created_at: :desc).limit(3).each do |category2| %>
                <li>
                  <div class="catgimg_container">
                    <a href="pages/single.html" class="catg1_img">
                      <%= link_to (image_tag category2.picture), category2 %>
                    </a>
                  </div>
                  <h3 class="post_titile">
                    <center>
                      <%= link_to category2.name, category2 %>
                    </center>
                  </h3>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>
