<% provide :title, t(".title") %>
<div class="container">
<center>
  <h1><%= link_to t(".title"), books_path %></h1>
  <%= will_paginate %>
  <ul>
    <% @books.each do |book| %>
    <li>
      <div class="row-fluid">
        <div class="span5">
          <!-- <div class="picture-list">
            <a><%= link_to book do %>
            <%= image_tag( book.picture.url, height: Settings.height_picture_book_index) if book.picture? %>
              <% end %>
            </a>
          </div> -->
        </div>
        <div class="span7">
          <%= render "book_row", book: book, order_line: @order_line %>
        </div>
      </div>
    </li>
    <hr class="colorgrap">
    <% end %>
  </ul>
  <%= will_paginate %>
</center>
</div>
