<% provide :title, @book.name %>
<div class="container">
  <div class="well well-small">
    <div class="row-fluid">
      <div class="span5">
        <a><%= image_tag @book.picture.url if @book.picture? %></a>
      </div>
      <div class="span7">
        <h3><%= @book.name %></h3>
        <hr class="soft"/>
        <form class="form-horizontal qtyFrm">
          <div class="control-group">
           <h2><%= number_to_currency(@book.price) %></h2>
           <br>
           <label class="control-label"><span><%= :quantity %></span></label>
           <div class="controls">
            <input type="number" class="span6">
          </div>
        </div>
        <h4><%= @book.quantity %><%= t ".items_stock" %></h4>
        <p><%= t ".choose_add" %></p>
        <div class="col-xs-12 col-md-6"><%= link_to "Add to cart", "#",
          class: "btn btn-primary btn-block btn-lg" %></a></div>
        </form>
      </div>
    </div>
    <hr class="softn clr"/>
    <ul id="productDetail" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab"><%= t ".details" %></a></li>
    </ul>
    <div id="myTabContent" class="tab-content tabWrapper">
      <div class="tab-pane fade active in" id="home">
        <h4><%= t ".information" %></h4>
        <table class="table table-striped">
          <tbody>
            <tr class="techSpecRow"><td class="techSpecTD1">
              <%= t ".name" %></td>
              <td class="techSpecTD2"><%= @book.name %></td></tr>
              <tr class="techSpecRow"><td class="techSpecTD1">
                <%= t ".price" %></td>
                <td class="techSpecTD2"><%= number_to_currency(@book.price) %></td></tr>
              </tbody>
            </table>
            <p><%= @book.summary %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
