<div class="container">
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single-footer-top wow fadeInLeft">
              <h2><%= t ".new_books" %></h2>
              <ul class="flicker-nav">
                <% Book.order(created_at: :desc).limit(4).each do |book| %>
                  <li><%= link_to book do %>
                    <%= image_tag( book.picture,
                      height: 80) if book.picture? %>
                  <% end %>
                <%end %>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single-footer-top wow fadeInDown">
              <h2><%= t ".categories" %></h2>
              <ul class="labels-nav">
                <% Category.limit(8).each do |category| %>
                  <li><%= link_to category.name.first(20), category %></li>
                <%end %>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single-footer-top wow fadeInRight">
              <h2><%= t ".about_us" %></h2>
              <p><%= t ".about_text" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-bottom-left">
              <p><%= t ".copyright" %></a>
                <%= link_to t(".bookmoi"), root_path %>
                </a></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-bottom-right">
              <p><%= t ".developed" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
